/* .invitation-container {
   
    color: white;
    padding: 30px;
    border-radius: 10px;
    font-size: 24px;
    width: 50%;
    margin: 0 auto;
}
#time-left {
    font-size: 36px;
    font-weight: bold;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#40041e;
}
body {
    font-family: "Great Vibes";
    background-color: #40041e ;
    text-align: center;
    padding: 20px;
  
}
.con{
    width: 350px;
    margin: 0 auto;
    

}
.fon{

background-repeat: no-repeat;
     width: 300px;
     padding: 50px;
     border-radius: 25px;
     background-color: white;
     
    
}

.p{
    font-size: 10px;
    margin-bottom: 5px;
}
.i{
    font-size: 23px;
}
.tak{font-size: 35px;
}
.name{display: inline;}
button{
    
    border-radius: 25px;
    border: 1px solid;
    border-color: #40041e;
    width: 150px;
    height: 25px;
    margin-bottom: 50px;
    margin-top: 10px;
    font-family: "Great Vibes";
    text-align: center;
background-color: white;


}
button:hover{scale: 1.2;
    background-color: #40041e;
    color: white;
transition: 0.5s;}